[Unit]
Description=XMRig Miner
After=network.target

[Service]
Type=simple
User=xmrig
ExecStart=/opt/xmrig-agent/xmrig --config=/opt/xmrig-agent/config.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
