@"
VITE_SUPABASE_URL=https://vgqjiupbsrxheubpkuwx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZncWppdXBic3J4aGV1YnBrdXd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MzU3OTUsImV4cCI6MjA5NjAxMTc5NX0.dfqHuEdSiQIxRN_EVTq8nlM4GjGPd1ArJkmqF85d3LQ
VITE_API_URL=VITE_API_URL=https://xmrig-coordinator.onrender.com
"@ | Out-File -FilePath .env -Encoding utf8